---
import Container from "./Container.astro";
---

<div class="bg-primary/10 py-6 dark:bg-primary/20">
  <Container>
    <div class="flex items-center justify-center gap-3 text-primary dark:text-white">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="h-6 w-6">
        <path fill-rule="evenodd" d="M12 2.25a.75.75 0 01.75.75v1.5a.75.75 0 01-1.5 0V3A.75.75 0 0112 2.25zM6.97 4.97a.75.75 0 011.06 0l1.06 1.06a.75.75 0 11-1.06 1.06L6.97 6.03a.75.75 0 010-1.06zm10.06 0a.75.75 0 010 1.06L16.03 7.09a.75.75 0 11-1.06-1.06l1.06-1.06a.75.75 0 011.06 0zM12 6.75a5.25 5.25 0 100 10.5 5.25 5.25 0 000-10.5zm-9 5.25a.75.75 0 01.75-.75h1.5a.75.75 0 010 1.5H3.75A.75.75 0 013 12zM18.75 11.25a.75.75 0 000 1.5h1.5a.75.75 0 000-1.5h-1.5zM6.97 18.53a.75.75 0 011.06 0l1.06 1.06a.75.75 0 11-1.06 1.06l-1.06-1.06a.75.75 0 010-1.06zm9.06 0a.75.75 0 010 1.06l-1.06 1.06a.75.75 0 01-1.06-1.06l1.06-1.06a.75.75 0 011.06 0zM12 18.75a.75.75 0 01.75.75v1.5a.75.75 0 01-1.5 0v-1.5a.75.75 0 01.75-.75z" clip-rule="evenodd" />
      </svg>
      <p class="text-base font-semibold tracking-wide">Clarity is the foundation for scaling AI with confidence.</p>
    </div>
  </Container>
</div>
